@media (min-width: 320px) and (max-width: 425px) {
	.wrapper{
	    row-gap: 20px;
	}
	.header {
		justify-content: center;
	}
	.header__list {
		display: none;
	}
	.left__block,
	.image {
		width: 100%;
	}
	.big__text {
		margin: 20px 0;
	}
	.big__text {
	    font-size: 18px;
	}
	.title {
	    font-size: 32px;
	}
	.text,
	.big__text,
	.title {
		text-align: justify;
	}
	.information {
		row-gap: 20px;
		justify-content: center;
	}
	.right,
	.left,
	.center {
	    width: 100%;
	}
	.footer {
		height: 100px;
		justify-content: space-evenly;
		flex-direction: column;
	}
}	